html, body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 10px
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

.navLink {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.sect {
    margin: 50px;
    border: solid 1px black;
    background-color: beige;
}

.active {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
