#descP {
    width: 50%;
    background-color:chocolate;
    color: beige;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;    
}